/* Import de la font personnalisée */
@font-face {
    font-family: 'Ethereal-Thin';
    src: url('../Font/Ethereal-Thin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html, body {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: visible;
    font-family: 'Montserrat Alternates', sans-serif;
    scroll-behavior: smooth; /* Pour un défilement fluide */
    overflow-x: clip; /* Empêche le défilement horizontal */
}

#background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* S'assure que l'image reste en arrière-plan */
}

.gradient-light {
    background-size: cover;
    background: linear-gradient(217deg, rgb(137, 176, 197), rgba(113, 173, 175, 0) 70.71%),
    linear-gradient(127deg, rgb(54, 94, 122), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgb(56, 56, 84), rgba(0, 0, 255, 0) 70.71%),
    no-repeat center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* S'assure que l'image reste en arrière-plan */
    animation: gradient 15s infinite;
}

.gradient-dark {
    background-size: cover;
    background: linear-gradient(217deg, rgb(3, 96, 88), rgba(113, 173, 175, 0) 70.71%),
    linear-gradient(127deg, rgb(4, 16, 24), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgb(4, 10, 12), rgba(0, 0, 255, 0) 70.71%),
    no-repeat center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* S'assure que l'image reste en arrière-plan */
    animation: gradient 1s infinite;
}

.gradient-night {
    background-size: cover;
    background: linear-gradient(217deg, rgb(30, 147, 0), rgba(113, 173, 175, 0) 70.71%),
    linear-gradient(127deg, rgb(0, 9, 26), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgb(0, 0, 0), rgba(0, 0, 255, 0) 70.71%),
    no-repeat center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* S'assure que l'image reste en arrière-plan */
    animation: gradient 1s infinite;
}

/* Définition de l'animation */
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.row-container-div {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.text-div {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: match-parent;
    gap: 2vw;
    width: 100vw; /* Chaque section occupe 100% de la largeur de l'écran */
    height: 100vh; /* Chaque section occupe 100% de la hauteur de l'écran */
}

.article-txt {
    display: flex;
    flex-direction: column;
    font-size: 2vh;
    font-weight: 100;
    color: #dcd4d4;
    text-align: justify-all;
    margin: 5vh 15vw;
    padding: 2vh;
    gap: 2vh;
}

section {
    height: 100vh; /* Chaque section occupe 100% de la hauteur de l'écran */
    width: 100vw; /* Chaque section occupe 100% de la largeur de l'écran */
    padding: 20vh;
    box-sizing: border-box; /* Inclut le padding dans la taille de la section */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vh;
    scroll-snap-align: start; /* Aligne chaque section au début du conteneur de défilement */
    scroll-snap-type: y mandatory; /* Assure que le défilement est par sections */
}

.section-div {
    font-size: 4vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-content: start;
    justify-content: start;
}

h1 {
    font-size: 10vh;
    font-weight: 300;
    color: #fff;
    text-align: start;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

h2 {
    font-size: 8vh;
    font-weight: 700;
    color: #fff;
    text-align: start;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

h3 {
    font-size: 6vh;
    font-weight: 100;
    color: #fff;
    text-align: start;
    margin: 0;
    padding: 0;
}

h4 {
    font-size: 3vh;
    font-weight: 100;
    color: #dcd4d4;
    text-align: start;
    margin: 0;
    padding: 0;
}

h5 {
    font-size: 3vh;
    font-style: italic;
    font-weight: 100;
    color: #b6b2b2;
    text-align: start;
    margin: 0;
    padding: 0;
}

p {
    font-size: 2vh;
    font-weight: 100;
    color: #dcd4d4;
    text-align: start;
    margin: 0;
    padding: 0;
}

.card {
    height: 70vh;
}

.thumbnail {
    height: 30vh;
    object-fit: cover;
}

.img-illustration {
    height: 50vh;
    align-self: center;
    justify-self: start;
}

.profile-pic {
    /*position: absolute;*/
    top: 7%; /* Distance du haut */
    left: 7%; /* Distance de la gauche */
    width: 20%; /* Largeur de l'image */
}

.profile-pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%; /* Rend l'image circulaire */
    object-fit: cover; /* Assure que l'image garde ses proportions */
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); /* Ajoute une légère ombre */
}

.card {
    background-color: rgba(199, 181, 150, 0.35);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}

.menu {
    position: fixed;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
}

.menu-btn {
    padding: 20px 30px;
    background-color: rgba(199, 181, 150, 0.35);
    color: #ffffff;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    transition: transform 0.5s ease;
    font-size: 40px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}

/* Effet pour afficher le bouton */
.menu-btn.active {
    transform: translateX(-30%); /* Ramène le bouton à sa position initiale */
}

.btn-primary {
    background-color: rgba(199, 181, 150, 0.35);
}

.btn-primary:hover {
    background-color: #295070;
}

.btn-primary:enabled {
    background-color: #1a3b5d;
}

.btn-transparent {
    background-color: rgba(255, 255, 255, 0);
}

.btn-transparent:hover {
    background-color: rgba(186, 199, 211, 0.14);
}

.btn-secondary {
    background-color: #1a3b5d;
}

.btn-secondary:hover {
    background-color: #295070;
}

.btn-secondary:enabled {
    background-color: #1a3b5d;
}

.btn-custom {
    color: #a1c8d0;
    padding: 10px 15px;
    font-size: 4vw;
    height: 100%;
    width: 100%;
}

.btn-custom-round {
    padding: 10px 15px;
    font-size: 4vw;
    height: 64px;
    width: 64px;
}