/* Import de la font personnalisée */
@font-face {
    font-family: 'Ethereal-Thin';
    src: url('Font/Ethereal-Thin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


#background {
    background-image: url('res/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* S'assure que l'image reste en arrière-plan */
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: visible;
    font-family: 'Montserrat Alternates', sans-serif;
    scroll-behavior: smooth; /* Pour un défilement fluide */
}

h1 {
    font-size: 10vh;
    font-weight: 300;
    color: #fff;
    text-align: start;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

h2 {
    font-size: 8vh;
    font-weight: 700;
    color: #fff;
    text-align: start;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

h3 {
    font-size: 6vh;
    font-weight: 100;
    color: #fff;
    text-align: start;
    margin: 0;
    padding: 0;
}

.profile-pic {
    /*position: absolute;*/
    top: 7%; /* Distance du haut */
    left: 7%; /* Distance de la gauche */
    width: 15%; /* Largeur de l'image */
}

.profile-pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%; /* Rend l'image circulaire */
    object-fit: cover; /* Assure que l'image garde ses proportions */
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); /* Ajoute une légère ombre */
    opacity: 0; /* Initialement invisible */
    transform: scale(0.5); /* Rétrécie initialement */
    animation: zoomIn 1s ease forwards; /* Animation d'apparition */
}

/* Définition de l'animation */
@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0.5); /* Départ à 50% de la taille */
    }
    100% {
        opacity: 1;
        transform: scale(1); /* Fin à 100% de la taille */
    }
}

.menu {
    position: fixed;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
}

.menu-btn {
    padding: 20px 30px;
    background-color: rgba(199, 181, 150, 0.35);
    color: #ffffff;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    transition: transform 0.5s ease;
    font-size: 40px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}

/* Effet pour afficher le bouton */
.menu-btn.active {
    transform: translateX(-30%); /* Ramène le bouton à sa position initiale */
}

section {
    height: 100vh; /* Chaque section occupe 100% de la hauteur de l'écran */
    width: 100vh; /* Chaque section occupe 100% de la largeur de l'écran */
    padding: 20px;
    box-sizing: border-box; /* Inclut le padding dans la taille de la section */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vh;
    scroll-snap-align: start; /* Aligne chaque section au début du conteneur de défilement */
    scroll-snap-type: y mandatory; /* Assure que le défilement est par sections */
}

#section1 {
}

#section2 {
}

#section3 {
}


.slide-enter {
    transform: translateX(0%);
}

.slide-enter.active {
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

/* Media Queries */
@media (max-width: 768px) {
    h1 {
        font-size: 8vw;
    }

    h2 {
        font-size: 6vw;
    }

    h3 {
        font-size: 4vw;
    }

    .profile-pic {
        width: 50%;
    }

    .menu-btn {
        padding: 10px 15px;
        font-size: 4vw;
    }

    section {
        font-size: 4vw;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 10vw;
    }

    h2 {
        font-size: 8vw;
    }

    h3 {
        font-size: 5vw;
    }

    .profile-pic {
        width: 50%;
        position: absolute;
        top: 5%;
        left: 5%;
    }

    .menu {
        position: fixed;
        bottom: 2%;
        right: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: row;
    }

    .menu-btn {
        padding: 10px 10px;
        font-size: 5vw;
    }

    section {
        font-size: 5vw;
    }
}